header {
    height: 90px;
    line-height: 90px;
    background: grey;
    text-align: center;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: #fff;
    font-weight: 900;
}
.main-body {
    height: 500px;
}
.book-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.footer {
    background: grey;
    height: 90px;
    line-height: 90px;
    text-align: center;
}